/*
button {
    background-color: rgb(181, 233, 10);
    font-size : 12px;
    padding : 25px 20px; 
    color: black; 
    width : 125px;
}

.count {
    font-size: 200px;
    font-style: italic;
    padding : 15px 30px; 
    color: white; 
}

.reset {
    background-color: red;
    width : 250px;
    font-size : 18px; 
}

body {
    background-color: white;
}
*/